<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name of space', required: 'true'%>
  </div>

  <div class="form-group">
    <%= f.label "What you want done" %>
    <%= f.text_area :ask, class: 'form-control', placeholder: 'Tell us your vision for this space?', required: 'true'%>
  </div>

  <div class="form-group">
    <%= f.label "Photo" %>
    <%= f.file_field :avatar, accept:'image/*', class: 'form-control-file'%>
  </div>

  <div class="form-group">
    <%= f.submit 'Add', class: 'btn btn-block btn-primary' %>
    <%= link_to 'Nevermind', friends_path, class: 'btn btn-block btn-default' %>
  </div>




<% end %>


