<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label "What do you need done?" %>
    <%= f.text_area :ask, id: 'ask_input', class: 'form-control', placeholder: 'Example: Replace carpet with hardwood floors', required: 'true'%>

  </div>

  <div class="form-group">
    <%= f.label "Photo" %>
    <%= f.file_field :avatar, accept:'image/*', class: 'form-control-file'%>
  </div>

  <div class="form-group">

   <button type="submit" id="submit" class="btn btn-primary btn-block save" data-loading-text="Saving...">  Save </button>
       
    <%= link_to 'Nevermind', friends_path, class: 'btn btn-block btn-default' %>
  </div>

  <h5 style="visibility:hidden" class="loading-text"> Hang tight! Your image is saving.<h5> 




<% end %>


<script type="text/javascript">

$( document ).ready(function() {

  var $input = $('textarea'),
  $register = $('#submit');

  $register.attr('disabled', true);
  $input.keyup(function() {
      var trigger = false;
      $input.each(function() {
          if (!$(this).val()) {
              trigger = true;
          }
      });
      trigger ? $register.attr('disabled', true) : $register.removeAttr('disabled');
  });

  $('.save').on('click', function() {
      var $this = $(this);
      $this.button('loading');
      $('.loading-text').style.visibility = 'visible'
  });



});
  





</script>


 


