<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name of space', required: 'true'%>
  </div>

  <div class="form-group">
    <%= f.label "What you want done" %>
    <%= f.text_area :ask, class: 'form-control', placeholder: 'Tell us your vision for this space?', required: 'true'%>
  </div>

  <div class="form-group">
    <%= f.label "Photo" %>
    <%= f.file_field :avatar, accept:'image/*', class: 'form-control-file'%>
  </div>


<!--   <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      This is a picture of my room or space
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      This is what I want
    </label>
  </div> -->


  <div class="form-group">
    <button type="button" class="btn btn-default" onclick= "startProgress()"> click me </button>
    <%= f.submit 'Add', type: 'submit', class: 'btn btn-block btn-primary', onsubmit: 'startProgress();' %>
    <%= link_to 'Nevermind', friends_path, class: 'btn btn-block btn-default' %>
  </div>


<% end %>

<div class="progress progress-striped active" style="margin-top: 30px;
    width: 100%;">
    <div class="progress-bar" style="width: 0%;"></div>
</div>

<script type="text/javascript">
  function startProgress() {
    var progress = setInterval(function () {
        var $bar = $('.progress-bar');

        if ($bar.width() >= 400) {
            clearInterval(progress);
            $('.progress').removeClass('active');
        } else {
            $bar.width($bar.width() + 40);
        }
        $bar.text($bar.width() / 4 + "%");
    }, 1000);
  }
</script>





