<div class="page-header text-center">
  <%= image_tag 'ed.png',  class: 'img-circle', style: 'width:50px;'%>
  <h1><strong> Get a quote </strong><h1>

  <h3>Add photos of your space and when you're done, hit submit and you'll get a quote from Edward within 1 business day.</h3>
</div>

<% if notice != nil %>
	<div class="alert alert-success alert-dismissible" role="alert" id="notice"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>  </button> <%= notice %></div>
<% end %>


<!-- <h2>Add a picture</h2> -->

<%= link_to '+ Add a photo of a space', new_friend_path, class: 'btn btn-block btn-primary' %>

<br>

<section id="friends">
  <% if @friends != nil %>
  	<%= render @friends %>
  <% end %>
</section>


<% if @friends.count >= 1 %>

<br>
<br>

<h2>Ready to get a quote? </h2>


<%= form_for(@user, :url => url_for(:controller=> :complete, :action=> :index), :method => 'get') do |f| %>  
  <div class="form-group">
    <%= f.label "Your name" %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'First name', required: 'true'%>
  </div>

   <div class="form-group">
    <%= f.label "Email OR phone number" %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Leave a number or email for us to contact you', required: 'true'%>
  </div>

  <div class="form-group">
   <button type="submit" id="contact-submit" class="btn btn-success btn-block save" >  Submit </button>
  </div>

<% end %>



<% end %>

<h5> Have questions? Give me a call at (206) 288-9823<h5>	


<%= print "Session id coming from index: " %>
<%= print params[:session] %>

<script type="text/javascript">

$( document ).ready(function() {

  var $input = $('input:text'),
  $register = $('#contact-submit');

  $register.attr('disabled', true);
  $input.keyup(function() {
      var trigger = false;
      $input.each(function() {
          if (!$(this).val()) {
              trigger = true;
          }
      });
      trigger ? $register.attr('disabled', true) : $register.removeAttr('disabled');
  });

});
  





</script>








