<div class="page-header text-center">
  <%= image_tag 'ed.png',  class: 'img-circle', style: 'width:50px;'%>
  <h1><strong> Get a quote </strong><h1>

  <h3>Add your photos of your space and when you're done, just hit submit and you'll get a quote from Edward within 1 business day.</h3>
</div>

<% if notice != nil %>
	<div class="alert alert-success alert-dismissible" role="alert" id="notice"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>  </button> <%= notice %></div>
<% end %>


<h2>Add a picture</h2>

<%= link_to 'Add a picture', new_friend_path, class: 'btn btn-block btn-primary' %>


<section id="friends">
  <% if @friends != nil %>
  	<%= render @friends %>
  <% end %>
</section>

<h2>Send these to Edward </h2>

<%= link_to "Submit", {:controller => :complete, :action =>:index}, class: 'btn btn-block btn-success' %>

<h5> Have questions? Give me a call at (206) 288-9823<h5>	


<%= print "Session id coming from index: " %>
<%= print params[:session] %>

<!-- <div class="row">
  <div class="col-md-12">
  		<img src="https://c1.staticflickr.com/9/8689/17515730792_57ce00bb60_b.jpg" class="img-responsive center-block" alt="...">
  </div>
</div>
 -->








