<!DOCTYPE html>
<html>
<head>
  <title>sftip test</title>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= csrf_meta_tags %>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://placekitten.com/30/30">
      </a>
    </div>
  </div>
</nav>


<body>
  <header>
    <div class="header-wrap">
      <h1><%= link_to 'sftip test', root_path %></h1>
    </div>
  </header>

  <div id="main-wrap">
    <%= yield %>
  </div>

  <footer>
    <!-- <p id="copyright">test</p> -->
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>


